/* Get that sweet mint */
:root {
  background-color: aquamarine;
  font-family: 'W95FA';
}

body {
  position: fixed;
}

@font-face {
  font-family: 'W95FA';
  src: local('W95FA'), url(./w95fa.woff2) format('woff2');
}

.container {
  display: flex;
  flex-direction: row;
}
.left {
  width: 80%;
}
.right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background EP logo */
.image-container {
  z-index: -1;
  position: fixed;
  bottom: 70px;
  right: 50px;

  img {
    width: 256px;
    height: auto;
  }
}

/* Grid stuff */
#grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100vw;
  height: 100vh;
  align-items: end;
}

a {
  color: cadetblue !important;
}

.toggle-options {
  display: flex;
  align-items: start;
}

label {
  width: 30%;
}

div[class^='Dropdown__'] {
  width: auto;
}

div[class^='TitleBar__Title'] {
  line-height: 1.1;
  margin-left: 5px;
}

span[class^='TaskBar__Truncate'] {
  margin-top: 3px;
  margin-left: 5px;
}

div[class*='TitleBar__TitleBarBackground'] > img {
  margin-left: 1px;
  height: 16px;
  width: 16px;
}

div[class^='WindowButton__IconWrapper'] > img {
  margin-top: 2px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  padding-top: 4px !important;
}

.row-one { grid-row: 1; }
.row-two { grid-row: 2; padding: 0.5rem 0.5rem 0 0.5rem; }
.row-four { grid-row: 4; }
.half-width { grid-column: 2 / 3; }
.full-width { grid-column: 1 / 4; }

/* Dialog stuff */
.window {
  width: 400px;
  min-height: 200px;
  margin: 2rem;
}
.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background: gray;
  }
  &:before {
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    height: 3px;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}